header {
  background-color: #baa7e4;
  border-color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: black;
}

.things {
    padding:none;
}

img {
  float: left;
  width: 200px;
  height: 200px;
}

ul {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: black;
  font-weight: 400;
  text-align: center;
  float: center;
  background-image: url("../../src/images/mermaid.jpg");
  background-size: cover;
  background-position: center;
}



main {
  border-color: #dddddd;
  width: 960px;
}

p {
  color: #1d1a1a;
}

main-container {
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: burlywood;
}

footer {
  background-color: #2bd6ba;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(14, 13, 13);
}

.things {
  margin: 0px;
}