.header {
  background-color: #baa7e4;
  border-color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: black;
}

.things {
    padding:none;
}

img {
  float: left;
  width: 200px;
  height: 200px;
}

ul {
  list-style: none;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



main {
  border-color: #dddddd;
  width: 960px;
}

p {
  color: #1d1a1a;
}

main-container {
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: burlywood;
}

footer {
  background-color: #2bd6ba;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(14, 13, 13);
}

.things {
  margin: 0px;
}